.appeal {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 16px 32px 28px 32px;
  gap: 32px;
  margin: 48px auto;
  border-radius: 16px;
  box-shadow: 0 -1px 2px 0 rgba(24, 94, 224, 0.15), 2px 8px 16px 0 rgba(24, 94, 224, 0.15);
  width: 900px;
}
@media screen and (max-width: 1280px) {
  .appeal {
    width: 620px;
  }
}
@media screen and (max-width: 768px) {
  .appeal {
    width: 380px;
    left: -25px;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 480px) {
  .appeal {
    width: 280px;
    left: -36px;
  }
}
.appeal__titleLeft {
  border: none;
  display: flex;
  align-items: center;
  gap: 24px;
  background: none;
}
.appeal__titleContainer {
  display: flex;
  justify-content: space-between;
}
.appeal__title {
  font: 24px/1.5 var(--font-golos-bold);
}
@media screen and (max-width: 480px) {
  .appeal__title {
    font: 20px/1.5 var(--font-golos-bold);
  }
}
.appeal__date {
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
  font: 18px/1.5 var(--font-golos-regular);
}
@media screen and (max-width: 480px) {
  .appeal__date {
    font: 16px/1.5 var(--font-golos-regular);
  }
}
.appeal__text {
  width: 600px;
  font: 18px/1.5 var(--font-golos-regular);
  -webkit-mask-image: linear-gradient(180deg, #000 60%, rgba(0, 0, 0, 0.15));
  overflow: hidden;
}
.appeal__text > p {
  margin-bottom: 0px;
  white-space: pre-wrap;
}
@media screen and (max-width: 1280px) {
  .appeal__text {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .appeal__text {
    width: 380px;
  }
}
@media screen and (max-width: 480px) {
  .appeal__text {
    width: 280px;
    font: 16px/1.5 var(--font-golos-regular);
  }
}
.appeal__text[aria-expanded=true] {
  transition: all 0.35s cubic-bezier(0.75, 0.3, 0.5, 0.9) 0ms; /* cubic-bezier(0.4, 0, 0.2, 1) */ /* cubic-bezier(0.58, 0.19, 0.11, 0.46) */
  -webkit-mask-image: none;
  max-height: 1400px;
}
.appeal__text[aria-expanded=false] {
  transition: all 0.25s cubic-bezier(0.35, 0.2, 0.45, 0.8) 0ms;
  max-height: 100px;
}
@media screen and (max-width: 480px) {
  .appeal__text[aria-expanded=false] {
    max-height: 112px;
  }
}
.appeal__buttons {
  margin-top: 24px;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .appeal__buttons {
    flex-flow: column nowrap;
    align-items: center;
  }
}
.appeal__button {
  display: flex;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  border: none;
  height: 48px;
  font: 18px/1.5 var(--font-golos-regular);
  border-radius: 8px;
  color: #fff;
  transition: var(--opacity-transition);
}
@media screen and (max-width: 768px) {
  .appeal__button {
    justify-content: center;
    width: 320px;
  }
}
@media screen and (max-width: 480px) {
  .appeal__button {
    width: 250px;
  }
}
.appeal__button_type_primary {
  color: var(--text-color-secondary);
  background: var(--bg-color-secondary);
}
.appeal__button_type_secondary {
  background: none;
  border: 2px solid var(--bg-color-secondary);
}
.appeal__button_type_inactive {
  opacity: 0.3;
  pointer-events: none;
}
.appeal__button:hover {
  opacity: var(--hover-opacity);
}

.buttons__redact {
  display: flex;
  gap: 12px;
}

.appealer {
  width: 220px;
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .appealer {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .appealer__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
@media screen and (max-width: 480px) {
  .appealer__info {
    align-items: flex-start;
    gap: 36px;
  }
}
.appealer > div {
  width: 100%;
}
.appealer__title {
  font: 24px/1.5 var(--font-golos-bold);
  padding-bottom: 12px;
}
@media screen and (max-width: 480px) {
  .appealer__title {
    font: 20px/1.5 var(--font-golos-bold);
  }
}
.appealer__text {
  font: 18px/1.5 var(--font-golos-regular);
}
@media screen and (max-width: 480px) {
  .appealer__text {
    font: 16px/1.5 var(--font-golos-regular);
  }
}
.appealer__email {
  margin-top: 12px;
  font: 18px/1.5 var(--font-golos-demibold);
  overflow-wrap: anywhere;
}
@media screen and (max-width: 480px) {
  .appealer__email {
    font: 16px/1.5 var(--font-golos-demibold);
  }
}
.appealer__extraContacts {
  overflow-wrap: break-word;
  margin-top: 8px;
  padding-right: 16px;
  font: 18px/1.5 var(--font-golos-regular);
}
@media screen and (max-width: 768px) {
  .appealer__extraContacts {
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .appealer__extraContacts {
    font: 16px/1.5 var(--font-golos-regular);
  }
}
.appealer__icon {
  margin-bottom: -4px;
}

.overflowButton {
  font: 18px/1.5 var(--font-golos-regular);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color-accent);
  padding: 0;
}
.overflowButton:hover {
  text-decoration: underline;
}
@media screen and (max-width: 480px) {
  .overflowButton {
    font: 16px/1.5 var(--font-golos-regular);
  }
}

.arrow {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.arrow_rotate {
  transform: rotate(180deg);
}

.titleSeparator {
  /* border: 2px solid var(--bg-color-blue-accent); */
  border: 2px solid var(--bg-color-secondary);
  border-radius: 50px;
  margin: 0;
}