.accordion__row {
    width: 100%;
}

.accordion__title {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: center;
    gap: 12px;
    border: none;
    border-top: 2px solid var(--bg-color-space-around);
    background: none;
    text-align: left;
    cursor: pointer;
    font: 18px/1.5 var(--font-golos-regular);
    color: #0061D9;
    padding: 12px 0;
}

.accordion__content {
    max-height: 999px;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}

.accordion__content[aria-expanded="true"] {
    padding-bottom: 12px;
}

.accordion__content[aria-expanded="false"] {
    max-height: 0px;
    transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
}

.accordion__arrow_opened {
    transform: rotate(180deg);
}
  
.accordion__arrow {
    text-align: center;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.1s;
    transition-property: transform;
}