.container {
  height: 100vh;
  background-color: var(--bg-color-space-around);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  position: relative;
  overflow: hidden;
  padding: 100px 0px 0 100px;
  height: 600px;
  width: 1000px;
  background-color: #fff;
  border-radius: 24px;
}

.logo {
  opacity: 0.5;
  width: 717px;
  height: 687px;
  position: absolute;
  left: 600px;
  top: 15px;
}