.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(1, 11, 35, 0.15);
  background: linear-gradient(0deg, rgba(235, 241, 249, 0.3), rgba(235, 241, 249, 0.8));
  /* backdrop-filter: blur(1px); */
  z-index: 2;
}
.layout__loader {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .layout__loader {
    margin-bottom: 100px;
  }
}