.iconWrapper {
    all: unset;
    position: relative;
    transition-duration: 0.5s;
    height: 48px;
    width: 48px;
    padding: 12px;
    border-radius: 0 12px 12px 0px;
    /* background-color: aqua; */
    .icon {
        transition-duration: 0.5s;
        background-color: #fff;
        height: 6px;
        width: 48px;

        &::before {
            position: absolute;
            top: 16px;
            content: "";
            transition-duration: 0.5s;
            width: 48px;
            height: 6px;
            background-color: #fff;
        }

        &::after {
            position: absolute;
            top: 50px;
            content: "";
            transition-duration: 0.5s;
            width: 48px;
            height: 6px;
            background-color: #fff;
        }
    }

    &.active {
        .icon {
            transition-duration: 0.5s;
            background: transparent;

            &::before {
                transform: rotateZ(45deg) scaleX(1.1) translate(11px, 11px);
            }

            &::after {
                transform: rotateZ(-45deg) scaleX(1.1) translate(11px, -11px);
            }
        }
    }
    &:hover {
        cursor: pointer;
    }
}
