.iconWrapper {
  all: unset;
  position: relative;
  transition-duration: 0.5s;
  height: 48px;
  width: 80px;
  /* background-color: aqua; */
}
@media screen and (max-width: 480px) {
  .iconWrapper {
    height: 32px;
    width: 64px;
  }
}
.iconWrapper .icon {
  transition-duration: 0.5s;
  background-color: #fff;
  margin: 0 auto;
  height: 6px;
  width: 48px;
}
@media screen and (max-width: 480px) {
  .iconWrapper .icon {
    height: 4px;
    width: 32px;
  }
}
.iconWrapper .icon::before {
  position: absolute;
  top: 4px;
  content: "";
  transition-duration: 0.5s;
  width: 48px;
  height: 6px;
  background-color: #fff;
}
@media screen and (max-width: 480px) {
  .iconWrapper .icon::before {
    top: 2px;
    height: 4px;
    width: 32px;
  }
}
.iconWrapper .icon::after {
  position: absolute;
  top: 38px;
  content: "";
  transition-duration: 0.5s;
  width: 48px;
  height: 6px;
  background-color: #fff;
}
@media screen and (max-width: 480px) {
  .iconWrapper .icon::after {
    top: 26px;
    height: 4px;
    width: 32px;
  }
}
.iconWrapper.active .icon {
  transition-duration: 0.5s;
  background: transparent;
}
.iconWrapper.active .icon::before {
  transform: rotateZ(45deg) scaleX(1.1) translate(11px, 11px);
}
@media screen and (max-width: 480px) {
  .iconWrapper.active .icon::before {
    transform: rotateZ(45deg) scaleX(1.1) translate(8px, 8px);
  }
}
.iconWrapper.active .icon::after {
  transform: rotateZ(-45deg) scaleX(1.1) translate(11px, -11px);
}
@media screen and (max-width: 480px) {
  .iconWrapper.active .icon::after {
    transform: rotateZ(-45deg) scaleX(1.1) translate(8px, -8px);
  }
}
.iconWrapper:hover {
  cursor: pointer;
}