.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 600px;
}

.lead {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &_title {
    margin: 0;
    font: 22px/1.5 var(--font-golos-bold);
  }
  &_paragraph {
    margin: 0;
    font: 18px/1.5 var(--font-golos-regular);
  }
}