.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.lead {
    width: 960px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 740px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.lead__title {
    margin: 0;
    font: 44px/1.5 var(--font-golos-bold);
}

.lead__subtitle {
    margin: 0;
    font: 30px/1.5 var(--font-golos-regular);
}

.paragraph {
    font: 18px/1.5 var(--font-golos-regular);
    margin: 0;
    text-align: left;
}

.illustration {
    text-align: center;
}

.illustration__caption {
    font: 16px/1.5 var(--font-golos-regular);
    margin: 0;
}

.confetti {
    position: absolute;
}
