.button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: #fff;
    height: 64px;
    padding: 0 24px;
    font: 18px/1.5 var(--font-golos-demibold);

    &_type {
        &_primary {
            color: var(--text-color-secondary);
            background: var(--bg-color-secondary);
        }
        &_secondary {
            color: var(--text-color-primary);
            background: none;
            border: 1px solid var(--bg-color-secondary);
        }
        &_inactive {
            opacity: 0.3;
            pointer-events: none;
        }
    }

    &:hover {
        opacity: var(--hover-opacity);
    }
}

.filter {
    padding: 24px 32px;
    margin-top: 24px;
    display: grid;
    gap: 36px;
    grid-template-columns: 1.5fr 1fr 1fr;
    box-shadow: 0 -0.25px 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
}

.printAll {
    width: 400px;
    grid-row: 2;
    grid-column: 2/4;
    justify-self: end;
}

.datepickers {
    justify-self: start;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__separator {
        margin: 0;
        width: 24px;
        border: 3px solid var(--bg-color-secondary);
        border-radius: 50px;
    }
    & > .button {
        width: 148px;
        font: 18px/1.5 var(--font-golos-regular);
    }
}

.search {
    &__email {
        grid-row: 2;
        grid-column: 1;
    }
}
