.appeals__tabs {
  position: absolute;
  top: -48px;
  display: flex;
  justify-content: space-around;
  padding: 8px 24px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 -0.25px 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  border-radius: 99px;
  height: 70px;
  width: 600px;
  color: var(--text-color-primary);
}
.appeals__tabs * {
  z-index: 2;
}

.tab {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 54px;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
  text-decoration: none;
  color: inherit;
  font: 18px/1.5 var(--font-golos-demibold);
}

.active {
  color: #185ee0;
}

.active_unprocessed ~ .glider {
  transform: translateX(0);
}

.active_processed ~ .glider {
  transform: translateX(300px);
}

.glider {
  position: absolute;
  left: 27px;
  display: flex;
  height: 54px;
  width: 290px;
  z-index: 2;
  border-radius: 99px;
  transition: 0.25s ease-out;
  background-color: #e6eef9;
}