.swiper__container {
}

.swiper__slide {
    width: 560px;
    padding: 16px;
    box-sizing: border-box;
}

.swiper__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 400px;
    border-radius: 12px;
    padding: 36px;
    box-sizing: border-box;
    box-shadow: 0px 6px 16px #5a7abe;
}

.card__title {
    display: flex;
    gap: 16px;
    align-items: center;
    min-height: 92px;
}

.card__heading {
    margin: 0;
    font: 30px/1.5 var(--font-golos-regular);
}

.card__paragraph {
    font: 18px/1.5 var(--font-golos-regular);
    margin: 0;
}

.card__accordionContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}