.header {
  width: 100%;
  min-height: 560px;
  background-color: var(--bg-color-secondary);
  color: var(--text-color-secondary);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 44px;
  box-sizing: border-box;
}

.logo {
  width: 280px;
  background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.5) 0%, rgb(1, 11, 35) 100%);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lead {
  max-width: 780px;
}

.lead__title {
  font: 40px/1.5 var(--font-golos-bold);
  margin: 0;
}

.lead__paragraph {
  font: 22px/1.5 var(--font-golos-regular);
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .logo {
    margin-top: 40px;
    width: 120px;
  }
  .lead {
    max-width: 680px;
  }
  .lead__title {
    font: 28px/1.5 var(--font-golos-bold);
  }
  .lead__paragraph {
    font: 18px/1.5 var(--font-golos-regular);
    margin-top: 12px;
    max-width: 500px;
  }
  .header {
    min-height: 400px;
  }
  .container {
    max-width: 768px;
    padding: 20px 44px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    margin-top: 40px;
    width: 120px;
  }
  .lead {
    max-width: 680px;
  }
  .lead__title {
    font: 28px/1.5 var(--font-golos-bold);
  }
  .lead__paragraph {
    font: 18px/1.5 var(--font-golos-regular);
    margin-top: 12px;
    max-width: 500px;
  }
  .header {
    min-height: 420px;
  }
  .container {
    max-width: 768px;
    padding: 20px 44px;
  }
}
@media screen and (max-width: 720px) {
  .container {
    width: 100%;
    z-index: 3;
    background-color: var(--bg-color-secondary);
    position: fixed;
  }
  .lead__title {
    text-align: center;
    font: 24px/1.5 var(--font-golos-bold);
  }
  .lead__paragraph {
    display: none;
  }
  .header {
    min-height: 100px;
  }
  .logo {
    margin-top: 0;
    width: 80px;
  }
  .container {
    position: fixed;
    padding: 20px 20px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    width: 75px;
  }
  .lead__title {
    text-align: center;
    font: 18px/1.5 var(--font-golos-bold);
  }
}