.scrollBox {
    overflow-y: scroll;
    max-height: 400px;
    padding: 0 16px;
    overscroll-behavior: contain;
}

.scrollBox::-webkit-scrollbar-track {
    background-color: #2F2F37;
    border-radius: 10px;
}

.scrollBox::-webkit-scrollbar {
    width: 12px;
}

.scrollBox::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    border-radius: 10px;
}