@use "../../utils/mixins";
.leadColumn {
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: left;

    @include mixins.tablets {
        grid-column: 1/-1;
    }
}

.row {
    padding: 8px 0;
    overflow: hidden;
    border: none;
    background: none;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.row__chevron {
    font-size: 0;
    transition-duration: 0.2s;
    transition-property: transform;
}

.row__chevron_active {
    transform: rotate(90deg);
}

.row__tip {
    max-height: 0;
    overflow: hidden;
    font-size: 16px;
    color: rgba(128, 128, 128, 0.9);
    padding: 8px 0 0 0;
    margin: 0;
    transition: max-height 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    @include mixins.phones {
        font: 14px/1.4 var(--font-golos-regular);
    }
}

.row__tip_active {
    max-height: 999px;
    transition: max-height 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; /* cubic-bezier(0.4, 0.3, 0.2, 1) 0ms; */
}

.row:hover {
    opacity: 0.8;
}

.rowList {
    display: grid;
    grid-template-columns: 0.4fr repeat(3, 0.2fr);
    row-gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    @include mixins.tablets {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mixins.phones {
        row-gap: 20px;
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(2, min-content);
        gap: 4px;
        justify-content: center;
        @include mixins.desktop-small {
            grid-template-columns: min-content;
        }
    }
}
