.spanAccent {
    color: var(--text-color-accent);
}

.spanBold {
    font-family: var(--font-golos-bold);
}

.link {
    color: var(--text-color-accent);
    transition: var(--opacity-transition);
    opacity: 0.8;
    text-decoration: none;
}

.link:hover {
    opacity: 0.5;
}

.frozen {
    pointer-events: none;
}
