@use "../../utils/mixins";
.main {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section {
    &_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 36px;
        color: var(--text-color-primary);
        @include mixins.desktop-small {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    &_facts_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 36px;
        color: var(--text-color-primary);
        @include mixins.desktop-small {
            grid-template-columns: 1fr 1fr;
            gap: 36px;
        }
        @include mixins.tablets {
            grid-template-columns: 1fr;
            gap: 36px;
        }
    }

    &_flat {
        color: var(--text-color-primary);
    }

    &__container {
        width: 70%;
        @include mixins.tablets {
            width: 100%;
        }
    }

    &_accent {
        position: relative;
        margin: 0 -44px;
        padding: 28px 44px 0 44px;
        min-height: 480px;
        color: var(--text-color-secondary);
        background-color: var(--bg-color-secondary);
        overflow: hidden;
        @include mixins.tablets {
            padding-bottom: 200px;
        }

        @include mixins.phones {
            padding-bottom: 100px;
        }
    }

    &__title {
        font: 30px/1.5 var(--font-golos-bold);
        margin: 0;
        padding-bottom: 24px;

        @include mixins.phones {
            font: 22px/1.5 var(--font-golos-bold);
        }
    }

    &__subtitle {
        font: 18px/1.5 var(--font-golos-regular);
        margin: -24px 0 0 0;
        @include mixins.phones {
            font: 16px/1.5 var(--font-golos-regular);
            text-align: center;
        }
    }

    &__title {
        &_big {
            font: 30px/1.5 var(--font-golos-bold);
            margin: 0;
            padding-bottom: 24px;

            @include mixins.phones {
                font: 24px/1.5 var(--font-golos-bold);
            }
        }
    }

    &__heading {
        &_centered {
            grid-column: 1 / -1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__paragraph {
        font: 18px/1.5 var(--font-golos-regular);
        margin: 0;
        padding-bottom: 12px;

        @include mixins.phones {
            font: 16px/1.5 var(--font-golos-regular);
        }
    }

    &__paragraph:last-of-type {
        padding-bottom: 0;
    }

    &__image {
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include mixins.desktop-small {
            grid-row: 1;
        }
    }
}

.sectionCell__title {
    font: 22px/1.5 var(--font-golos-regular);
    padding-bottom: 12px;
    margin: 0;
    @include mixins.tablets {
        padding-bottom: 16px;
        font: 22px/1.5 var(--font-golos-demibold);
    }

    @include mixins.phones {
        font: 18px/1.5 var(--font-golos-demibold);
    }
}

.buttonWrapper {
    display: flex;
    gap: 48px;
    padding-top: 48px;
    @include mixins.desktop-small {
        display: flex;
        gap: 32px;
        padding-top: 48px;
    }
    @include mixins.tablets {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
    }
}

.button {
    min-width: 285px;
    min-height: 60px;
    border: 4px solid var(--text-color-secondary);
    border-radius: 8px;
    font: 18px/1.5 var(--font-golos-regular);
    background: none;
    color: var(--text-color-secondary);
    cursor: pointer;
    transition: var(--opacity-transition);
    @include mixins.desktop-small {
        min-width: 170px;
        min-height: 60px;
        border-radius: 8px;
    }

    @include mixins.tablets {
        width: 300px;
        height: 100px;
        border-radius: 8px;
        z-index: 2;
        background-color: var(--bg-color-secondary);
    }

    @include mixins.phones {
        width: 250px;
        height: 50px;
        font: 16px/1.5 var(--font-golos-regular);
    }
}

button:hover {
    opacity: var(--hover-opacity);
}

.button_accent {
    color: var(--text-color-primary);
    background-color: var(--bg-color-primary);
}

button:hover {
    opacity: var(--hover-opacity);
}

.button_accent {
    color: var(--text-color-primary);
    background-color: var(--bg-color-primary);
}

.rubbleLogo {
    background-image: url(../../images/ruble-logo.svg);
    position: absolute;
    top: 200px;
    left: 900px;
    width: 440px;
    height: 440px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @include mixins.desktop-small {
        top: 250px;
        left: 500px;
        width: 340px;
        height: 340px;
    }

    @include mixins.tablets {
        top: 640px;
        left: 200px;
        width: 370px;
        height: 370px;
    }

    @include mixins.phones {
        top: 700px;
        left: 212px;
        width: 210px;
        height: 210px;
    }
}

.sidorovImg {
    background-image: url(../../images/СидоровМИ-preview.png);
}

.mapImg {
    background-image: url(../../images/russia-colored.svg);
    background-size: contain;
}
