.main {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.lead {
    display: grid;
    grid-template-columns: 820px 1fr;
}

.lead__title {
    margin: 0;
    font: 36px/1.5 var(--font-golos-bold);
}

.lead__textContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font: 18px/1.5 var(--font-golos-regular);
}

.lead__paragraph {
    margin: 0;
    box-sizing: border-box;
}

.swiper__container {
    position: relative;
}

.swiper__container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 50px 0 50px -30px #ffffff, inset -50px 0 50px -30px #ffffff;
    z-index: 1;
    pointer-events: none;
}


.card__accordionContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
