.leadColumn {
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: left;
}

.row {
    padding: 8px 0;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.row__chevron {
    font-size: 0;
    transition-duration: 0.1s;
    transition-property: transform;
}

.row__chevron_active {
    transform: rotate(90deg);
}

.row__tip {
    max-height: 0;
    overflow: hidden;
    font-size: 13px;
    color: rgba(128, 128, 128, 0.9);
    padding: 0;
    margin: 0;
    transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
}

.row__tip_active {
    max-height: 999px;
    transition: max-height 0.5s ease-in-out;
}

.row:hover {
    opacity: 0.8;
}

.rowList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
}